* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #232946;
}

::-webkit-scrollbar{
    width: .70rem;
    background-color: #fff;
    border-radius: 0.3rem;
}
::-webkit-scrollbar-thumb{
    background-color: #5584AC;
    border-radius: 0.3rem;
}
