* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #222831;
}

::-webkit-scrollbar{
    width: 0.60rem;
    background-color: #fff;
    border-radius: 0.2rem;
}
::-webkit-scrollbar-thumb{
    background-color: #00ADB5;
    border-radius: 0.2rem;
}
